.mail-preview {
    gap: 10px;
    width: 100%;
    border-bottom: 0.5px solid rgb(218, 212, 212);
    cursor: pointer;
}

.mail-preview:hover {
    background-color: rgb(194, 186, 186);
}

.mail-preview p:first-child {
    width: 15%;
}

.mail-preview p:nth-child(3) {
    flex-grow: 1;
}

.mail-preview.read {
    font-weight: bolder;
}