.mail-aside-container {
    height: 100%;
    width: 100%;
}

.mail-aside-container ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.mail-aside-container li {
    width: 100%;
}

.mail-aside-container ul a {
    width: 100%;
    gap: 10px;
    border-radius: 20px;
    transition: color 0.5s;
    padding-inline-start: 10px;
}

.mail-aside-container ul a:hover {
    background-color: #D1EAF0;
}

.mail-aside-container a.active {
    background-color: #9FCBE5;
}

.mail-aside-container .compose-btn {
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    border-color: #e0e0e0;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    transition: box-shadow 0.4s;
}

.mail-aside-container .compose-btn:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 60%), 0 2px 6px 2px rgb(60 64 67 / 40%);
}