.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.center-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-layout {
  max-width: 540px;
  margin: auto;
}

.parallax {
  background-attachment: fixed;
}

@media (min-width: 560px) {
  .main-layout {
    max-width: 1300px;
  }
}
