.mail-app {
    gap: 30px;
    padding-top: 20px;
}

.mail-app aside {
    background-color: #2C76A0;
    color: white;
    font-size: 25px;
    width: 70%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 0px 0px 0px transparent;
    transform: translateX(160%);
    transition: transform .6s;
    z-index: 6;
}

.mail-app aside.aside-menu-open {
    transform: translateX(50%);
    box-shadow: 8px 0px 20px rgb(0 0 0 / 20%);
}

.mail-app main {
    width: 100%;
    padding: 0 10px;
}

@media (min-width: 800px) {
    .mail-app aside {
        width: 20%;
        height: unset;
        padding: unset;
        padding-inline-start: 30px;
        position: unset;
        font-size: unset;
        box-shadow: 0px 0px 0px transparent;
        transform: unset;
        background-color: unset;
        color: unset;
    }
    .mail-app main {
        width: 80%;
        padding: unset;
        padding-inline-end: 30px;
    }
    .mail-app aside.aside-menu-open {
        box-shadow: unset;
        transform: unset;
    }
}