.filter-by {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.filter-by>* {
    margin-inline-end: 10px;
}

.filter-by input {
    border: none;
    border-radius: 10px;
    font-size: 1.08rem;
    height: 1.5em;
}

.filter-by input {
    width: 8em;
}

.filter-by button {
    width: 4em;
    display: flex;
    justify-content: center;
}