.book-preview {
    background-color: white;
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.book-preview img {
    margin: 10px;
    height: 200px;
    width: 150px;
}

.book-preview h3 {
    font-size: 1.08rem;
    margin-top: 8px;
    flex-grow: 1;
}