.results h3 {
    margin-top: 20px;
}

.search-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-list li {
    width: 50%;
    line-height: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.search-list li p {
    margin-inline-start: 20px;
}

.search-list li button {
    width: 40px;
}