.home {
  margin-top: -40px;
}

.home p {
  margin: 0;
  line-height: 2;
}

.home .app-hero-section {
  height: 45vh;
  background-color: #b3b3b3;
  background-blend-mode: color-burn;
  filter: grayscale(0.6);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .main-hero-container {
  background-image: url('../../img/background-3.jpeg');
  background-position: bottom;
  height: 100vh;
}

.home .app-hero-section h1 {
  background-color: #615e5ea6;
  backdrop-filter: blur(6px);
  padding: 15px 20px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Noto-Reg';
  text-align: center;
  color: white;
  transition-property: background-color, padding-right;
  transition-duration: 0.3s;
  position: relative;
}

.home .app-hero-section:not(:first-of-type) h1:hover {
  background-color: var(--mainDark);
  padding-right: 60px;
}

.home .app-hero-section:not(:first-of-type) h1:hover::after {
  content: '→';
  color: #fff;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 20px;
}

.home .main-hero-container h1 {
  background-color: #282828d6;
}

.home .description-section {
  background-color: #212121;
  color: white;
  /* height: 20vh; */
  min-height: fit-content;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-left: 32.8vw;
  border-color: #fff; */
  /* 32.8/68.2 */
}

.home .main-description {
  height: 35vh;
  background-color: #d5d5d5;
  color: #212121;
}

.home .description-section img {
  width: 32.8vw;
  height: 100%;
  object-fit: cover;
}

/* .home .app-hero-section h1 {
  background-color: #212121bf;
  backdrop-filter: blur(6px);
} */

.home .notes-hero {
  background-image: url(../../img/notes-hero-2.jpeg);
}

.home .email-hero {
  background-image: url(../../img/email-hero.jpeg);
  background-size: cover;
}

.home .book-hero {
  background-image: url(../../img/book-hero.jpeg);
}

@media (min-width: 840px) {
  .home .description-section {
    height: 20vh;
    padding: 0;
  }
}

/* 
@media (min-width: 840px) {
  .home .main-nav a div {
    flex-direction: unset;
    gap: 50px;
  }
  .home .main-nav a {
    height: 300px;
  }
  .home .main-nav a:nth-child(2) div {
    flex-direction: row-reverse;
  }
  .home .main-nav {
    gap: 30px;
  }
}

.home .main-nav {
  padding: 0 30px;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.home .main-nav a {
  background-color: #eff6fb;
}

.home .main-nav a div {
  padding: 20px;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.home .main-nav a div img {
  width: 300px;
  height: 80%;
  object-fit: cover;
}

.home .main-nav a div article {
  line-height: 2;
  font-size: 1.2rem;
} */