.about {
    text-align: center;
}

.about h1 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.team {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.team div {
    width: 100%;
    padding: 20px;
}

.team div img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.socials {
    gap: 10px;
    font-size: 3.5rem;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}

.socials>* {
    color: #5fa8d3;
    transition: color 0.3s;
}

.socials>*:hover {
    color: #1b4965;
}

@media (min-width: 560px) {
    .team {
        flex-direction: unset;
    }
    .team div {
        width: 50%
    }
    .socials {
        font-size: 2.5rem;
    }
}