.about {
    text-align: center;
}

.team {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.team div {
    width: 100%;
    padding: 20px;
}

.team div img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.socials {
    gap: 10px;
    font-size: 3.5rem;
    justify-content: center;
    margin: auto;
}

@media (min-width: 560px) {
    .team {
        flex-direction: unset;
    }
    .team div {
        width: 50%
    }
    .socials {
        font-size: 2.5rem;
    }
}