.add-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.add-note input {
    width: 300px;
    border: 1px solid black;
}

.add-note input:focus {
    border-bottom: none;
    outline: none;
}

.add-note textarea {
    width: 300px;
    border: 1px solid black;
    border-top: none;
    padding-top: 30px;
}

.add-note textarea:focus {
    outline: none;
}

.add-note-bottom {
    display: flex;
    flex-direction: column;
}