.other-notes, .pinned-notes {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: masonry;
    /* grid-auto-rows: calc((100vw / 5) - ((5 - 1) * 5px)); */
    justify-content: center;
    justify-items: center;
    /* align-items: flex-start; */
    gap: 10px;
    margin: 0 20px;
}

.pinned-notes {
    margin-bottom: 20px;
}

.note-list h2 {
    margin: 25px;
    font-size: 1.2rem;
    color: rgb(114, 114, 114);
}

@media (min-width:560px) {
    .other-notes, .pinned-notes {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 5px;
    }
}