.note-preview {
    width: 240px;
    border: .2px solid #e0e0e0;
    border-radius: 8px;
}

.note-preview:hover .action-bar-container {
    opacity: 1;
}

.note-preview img {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.note-content {
    padding: 12px 16px;
    min-height: 30px;
}

.done {
    text-decoration: line-through;
}