.note-filter {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-by-type {
    display: flex;
    gap: 10px;
}

.filter-by-type>* {
    cursor: pointer;
}

.input-wrapper {
    display: flex;
    align-items: center;
    padding-right: 10px;
    /* flex-direction: column; */
    /* width: 60vw; */
}