header {
    border-bottom: 1px solid gray;
    background-color: rgb(202, 64, 64);
}

.app-header nav {
    gap: 20px;
    margin-inline-end: 20px;
}

.logo-container {
    cursor: pointer;
    margin-inline-start: 20px;
}

.logo-container img {
    height: 60px;
}