.icon-button {
    border-radius: 50%;
    color: #202124;
    padding: 6px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.icon-button:hover {
    background-color: #41414125;
}

.icon-button:active {
    background-color: #41414157;
}