.input-container {
    border: 1px solid transparent;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    transition-duration: 0.218s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
    border-color: #e0e0e0;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    width: 600px;
    margin: 32px auto 16px auto;
    position: relative;
}

.input-container input {
    border-color: #e0e0e0;
    border: 1px solid transparent;
    outline: none;
    padding: 12px 16px;
    width: 100%;
}